@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body
{ 
background-image: url("bg.jpg");
background-position: center;
background-size: cover;
backface-visibility: visible;
margin: 0px;
padding: 0px;
} 


header{
	background: #000080;
	padding: 8px 20px 6px 40px;
	height: 30px;
}


.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #84b4cc;
  position: absolute;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display:block;
  border-radius: 15px;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #000080;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: rgb(20, 20, 20, 0.3);
  color: white;
}



/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 180px;
  margin-right: 0px;
  padding: 0px 0px;
  height: 1000px;

}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: 100%;
    position:absolute;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}



/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


.login_form{
         margin-top: 20%;
      background: #fff;
      padding: 30px; 
         box-shadow: 0px 1px 36px 5px rgba(0,0,0,0.28);
         border-radius: 5px;
     }

     .form_btn{ 
         background: blue;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
        border-radius: 15px;
        color:black; 
        width: 100% 
      }
      .label_txt{ 
    font-size: 12px; 
       }  
       .form-control{border-radius: 25px }

       .signup_form{ 
        background: #fff;
      padding-left: 25px; 
       padding-right: 25px; 
       padding-top: 25px;
          padding-bottom:5px; 
         box-shadow: 0px 1px 36px 5px rgba(0,0,0,0.28);
         border-radius: 5px;
        }
        .logo{ 
          height: 50px; 
          width: auto; 
            display: block;
      margin-left: auto;
      margin-right: auto;
         }
         .errmsg{ 
      margin: 2px auto;
      border-radius: 5px;
      border: 1px solid red;
      background: pink;
      text-align: center;
      color: brown;
      padding: 1px;
    }
    .successmsg{
      margin: 5px auto;
      border-radius: 5px;
      border: 1px solid blue;
      background: blue;
      text-align: left;
      color:black;
      padding: 10px;
    }